

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, sans-serif;
}
body {

    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: skyblue;
    color: white;
}

.logo {
    width: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.form-section input,
.form-section textarea {
    padding: 8px;
    border: 1px solid white;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.form-section button {
    padding: 10px;
    background:skyblue;
    color: white;
    border: none;
    border-radius: 3px;
}

.form-section button:hover {
    background: skyblue;
}


.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
}


footer {
    background: black;
    color: white;
    text-align: right;
    padding: 10px 20px;
    margin-top: 20px;
}
